    {% assign navurl = page.url | remove: 'index.html' %}
    <ul>
    {% for item in include.nav %}
        <li>
            <a href="{{ item.url }}">
                {% if item.url == navurl %}
                    <b>{{ item.text }}</b>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </a>
        </li>
        {% if item.subitems and navurl contains item.url %}
            {% include nav.html nav=item.subitems %}
        {% endif %}
    {% endfor %}
    </ul>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">Torsten Gustafsson</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/first-menu/">About</a></li>
        <li><a href="/first-menu/">Projects</a></li>
        <li><a href="/first-menu/">Projects</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>